.painel-moderador {
  background-color: #f8f8f8;
  height: 100%;
  padding: 25px;
}

.painel-moderador table thead tr th {
  color: #838383;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.painel-moderador .cabecalho {
  display: flex;
  justify-content: space-between;
}

.painel-moderador .cabecalho div {
  display: flex;
  flex-direction: column;
}

.painel-moderador .cabecalho div h2 {
  font-size: 20px;
  text-align: left;
  color: #1d1d1d;
  margin: 0;
}

.painel-moderador .cabecalho div h3 {
  font-size: 16px;
  text-align: left;
  color: #838383;
  margin: 10px 0 0 0;
}

.painel-moderador .cabecalho input[type="button"] {
  width: 140px;
  height: 45px;
  border-radius: 3px;
  background-color: #ff0336;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.painel-moderador table {
  margin-top: 20px;
}

.table-row {
  height: 70px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #f0f0f0;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1d1d1d;
}

.table-row td {
  text-align: center;
  font-size: 16px;
  color: #1d1d1d;
  padding: 0;  
}

.table-row td a {
  padding: 8px 11px;
}

.table-row .mais-detalhes {
  width: 122px;
  height: 35px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #20a14f;
  cursor: pointer;
  font-size: 16px;
  color: #20a14f;
}

.table-row .mais-detalhes:hover {
  background: rgba(32, 162, 80, 0.16);
}

.table-row .botao-expandir-retrair {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  height: 70px;
  border: solid 1px #f0f0f0;
  width: 100%;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
  text-align: center;
}

.descricao-denuncia-row {
  background: #fff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.table-row .botao-retrair {
  background-image: url(../../imagens/botao-retrair.svg);
}

.table-row .botao-expandir {
  background-image: url(../../imagens/botao-expandir.svg);
}

.row-acoes-denuncia {
  background: #fff;
}

.row-acoes-denuncia .aceitar-denuncia {
  height: 40px;
  border-radius: 3px;
  background-color: #dfdfdf;
}

.row-acoes-denuncia .remover-denuncia {
  background-repeat: no-repeat;
  background-position: left;
  background-image: url(../../imagens/botao-remover-denuncia.svg);
  padding-left: 25px;
  text-align: center;
  font-size: 16px;
  text-align: left;
  color: #ff0336;
  cursor: pointer;
  border: none;
}

.mais-informacoes-denuncia-container {
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border: solid 1px #f0f0f0;
  display: flex;
  flex-direction: column;
}

.mais-informacoes-denuncia-container .dados-denunciante {
  display: flex;
  flex-direction: row;

}

.mais-informacoes-denuncia-container .dados-denunciante div label {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #838383;
}


.mais-informacoes-denuncia-container .dados-denunciante div p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1d1d1d;
}

.botao-aceitar-denuncia {
  background-color: #20a14f;
}
