.painel-moderador {
  background-color: white;
  height: 100%;
}

.painel-moderador table thead tr th {
  color: #838383;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.table-row {
  height: 70px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fafafa;
  border: solid 1px #f0f0f0;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1d1d1d;
}

.table-row td {
  text-align: center;
  font-size: 16px;
  color: #1d1d1d;
}

.mais-informacoes-denuncia-container {
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border: solid 1px #f0f0f0;
  display: flex;
  flex-direction: column;
}

.mais-informacoes-denuncia-container .dados-denunciante {
  display: flex;
  flex-direction: row;

}

.mais-informacoes-denuncia-container .dados-denunciante div label {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #838383;
}


.mais-informacoes-denuncia-container .dados-denunciante div p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1d1d1d;
}

