.table-row {
  height: 70px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fafafa;
  border: solid 1px #f0f0f0;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1d1d1d;
}


