@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: Roboto;
	background-color: #f8f8f8;
}
/*
.nav-bar {
	height: 100px;
	width: 100%;
	background-color: #000;
}

/* Menu

.colspan-ignore-padding {
	padding: 0 !important;
}

.left-menu {
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: -100;
}

.page-bar {
	height: 93px;
	width: 100%;
	padding: 20px 35px 0 35px;
	background-color: #000;
}

.page-bar h5 {
	margin: 0;
	color: #9e9e9e;
}

.menu-items {
	position: fixed;
	margin-top: 37px;
	width: 98%;
	margin-left: 2%;
}

.menu-items li {
	height: 54px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	padding-left: 25px;
	color: #9b9b9b;
}

.menu-items li:hover {
	color: #5c5c5c;
	font-weight: bold;
	border-left: solid 3px #20a14f;
}

/* Formularios

 */

.form-denuncia-container {
  height: 100%;
  overflow: auto;
  display: flex;
  background: #f8f8f8;
}

.form-title-bar {
  background: #000;
  height: 93px;
  color: #9e9e9e;
  padding-left: 25px;
}

.red-bar {
  width: 38px;
  height: 6px;
  background-color: #ff0336;
  margin-left: 10px;
}

.no-padding {
  padding: 0;
}

.side-menu-container {
  display: flex;
  flex-direction: column;
}

.side-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 25px;
  font-weight: 500;
  /* padding: 35px; */
}

.side-menu > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-sections-container {
  margin-top: -93px;
  margin-right: 40px;
  border-radius: 3px;
}

.menu-items {
	/* position: fixed; */
	/* margin-top: 37px; */
	margin-left: 10%;
}

.menu-items li {
	height: 54px;
	margin-bottom: 30px;
	padding-left: 25px;
  color: #9b9b9b;
  margin-top: 35px;
  font-size: 16px;
  text-align: left;
}

.menu-items li:hover {
	color: #5c5c5c;
	font-weight: bold;
	border-left: solid 3px #20a14f;
}

.form-section {
	background-color: #fff;
	margin-bottom: 15px;
	border-radius: 3px;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.form-section h6 {
	color: #5c5c5c;
	font-size: 20px;
	font-weight: 500;
}

.form-section .title-body {
	height: 93px;
	padding: 26px;
	display: flex;
	align-items: center;
	border-bottom: solid 1px #f0f0f0;
}

.form-section h3 {
	font-size: 16px;
  color: #838383;
  margin: 0;
}

.form-section .form-body {
	padding: 26px;
	color: #838383;
}

select {
  display: block;
}

