@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: Roboto;
}

/* Formularios */
.form-denuncia-container {
  height: 100%;
  overflow: auto;
	background-color: #f8f8f8;
}

.form-title-bar {
  background: #000;
  height: auto;
  color: #9e9e9e;
  padding-left: 25px;
}

.red-bar {
  width: 38px;
  height: 6px;
  background-color: #ff0336;
  margin-left: 10px;
}

.no-padding {
  padding: 0;
  margin-bottom: 54px;
}

.side-menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.side-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2.7vh;
  font-weight: 500;
}

.side-menu > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-sections-container {
  margin-right: 40px;
  border-radius: 3px;
  margin-left: 16.67%;
}

.menu-items {
	margin-left: 10%;
}

.menu-items li {
	height: 54px;
	margin-bottom: 30px;
	padding-left: 25px;
  color: #9b9b9b;
  margin-top: 35px;
  font-size: 16px;
  text-align: left;
}

.menu-items li:hover {
	color: #5c5c5c;
	font-weight: bold;
  border-left: solid 3px #20a14f;
}

.menu-items a {
  color: inherit;
}

.form-section {
	background-color: #fff;
	margin-bottom: 15px;
	border-radius: 3px;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.form-section .form-body h6 {
	color: #5c5c5c;
	font-size: 20px;
  font-weight: 500;
  text-align: justify;
  padding: 0 10px;
}

.form-section .form-body p {
  text-align: justify;
}

.form-section .title-body {
	height: 93px;
	padding: 26px;
	display: flex;
	align-items: center;
  border-bottom: solid 1px #f0f0f0;
  text-align: justify;
}

.form-section h3 {
	font-size: 16px;
  color: #838383;
  margin: 0;
  padding: 0 10px;
}

.form-section .form-body {
	padding: 26px;
	color: #838383;
}

.form-section .form-body p {
  padding: 0 10px;
}

select {
  display: block;
}

@media (max-width: 994px) {
  .side-menu-container {
    display: none;
  }

  .form-sections-container {
    margin-left: 0;
    margin-right: 0;
  }

  .botao-enviar {
    margin-left: 30%;
  }
}