.en-extra-margin-right {
  margin-right: 40px; }

.en-logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #ff8100; }

.en-topbar {
  padding: 34px 0;
  display: flex;
  flex-direction: row; }
  .en-topbar .en-topbar__right {
    margin-left: auto; }

.en-nav {
  text-transform: uppercase; }
  .en-nav > * {
    margin-left: 20px; }
  .en-nav a {
    color: #FFF;
    font-size: 14px; }

.en-btn {
  display: inline-block;
  padding: 12px 18px;
  border-radius: 40px;
  color: #FFF;
  text-transform: uppercase; }
  .en-btn.en-btn--primary {
    background: #ff8100; }
  .en-btn.en-btn--colored {
    background-color: #eb5f56; }
  .en-btn.en-btn--outline {
    border: 1px solid transparent;
    background: transparent; }
    .en-btn.en-btn--outline.en-btn--primary {
      border-color: #ff8100;
      color: #ff8100; }
  .en-btn:hover {
    text-decoration: none;
    color: #fff; }

.en-footer {
  padding: 80px 0; }

.en-social {
  text-align: center; }
  .en-social .en-social__title {
    font-size: 20px;
    color: #939393;
    margin-bottom: 20px;
    display: block; }
  .en-social .en-social__links a {
    color: #939393;
    text-decoration: none;
    font-size: 30px;
    margin-right: 25px; }
    .en-social .en-social__links a:last-child {
      margin-right: 0; }

* {
  font-family: 'Roboto', sans-serif;
 }

body {
  background: #000000;
}

.en-text--light {
  color: #fff;
  font-size: 17px;
  line-height: 1.4; }

.en-subtitle--primary {
  font-size: 25px;
  text-transform: uppercase;
  color: #ff8100;
  font-weight: 700;
  margin-bottom: 5px; }

.en-title {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px; }
  .en-title.en-title--light {
    color: #fff; }
  .en-title.en-title--marker::after {
    content: "";
    display: block;
    width: 90px;
    height: 6px;
    background: #ff8100;
    margin-top: 10px;
    margin-left: 2px; }

#banner {
  height: 72vh;
  width: 100%;
  background: url("https://firebasestorage.googleapis.com/v0/b/enegrecer-e37b3.appspot.com/o/fotos%2Fface.jpg?alt=media&token=6c97f3ad-47c1-440e-9221-9755687cab4b") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
  border: 1px solid #000;
  position: relative;
}

h3 {
  margin: 30px 0 10px; }

h4 {
  margin: 20px 0 10px; }

.AT-QUANDO-VOC-VAI {
  width: 244px;
  font-family: Roboto;
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.98;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 20%;
  margin-right: 18%;
  float: right;
}

.denunciarHome {
  border: 1px solid;
  width: 100%;
  float: left;
  clear: left;
}

.denunciarHome .parte1 {
  height: 402px;
  border: 1px solid;
  width: 50%;
  float: left;
  position: relative;
  background: #020517;
}

.denunciarHome .parte2 {
  height: 402px;
  border: 1px solid;
  width: 50%;
  float: left;
  position: relative;
  background: #ffffff;
  padding: 51px;
}


.parte2 h6 {
    width: 291px;
    height: 102px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.parte2 p {
    width: 86%;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4e4e4e;
    margin-top: 60px;
}

.denunciar, .denunciar:hover {

  color: #ffffff;

}
.bt_denuncia {
  width: 50%;
  height: 47px;
  border-radius: 3px;
  background-color: #ff0336;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

@media(max-width: 768px) {
  #banner{
    height: 55vh;
  }

  .AT-QUANDO-VOC-VAI {
    margin-right: 0;
  }

  .denunciarHome .parte1 {
    height: 33vh;
  }
}
