@import url(http://fonts.googleapis.com/css?family=Roboto);

.about {
	background-color: #f8f8f8;
}

.about_section {
	padding: 0;
	margin: 0;
	background-color: #f8f8f8;
}

.about_section .colspan_ignore_padding {
	padding: 0 !important;
}

.about_section .content {
	height: 100%;
	padding: 38px 51px 33px 51px;
}

.about_section h1 {
	font-weight: bold;
	margin: 0 13px 0 0;
}

.volunteer_section {
	height: 100%;
	padding: 38px 51px 33px 51px;
}

.volunteer_section .content .titulo_voluntarios {
	height: 100%;
	padding: 38px 51px 33px 51px;
}

.volunteer_section .content .texto_voluntarios {
	height: 100%;
	padding: 38px 51px 33px 51px;
}

.title_detail {
	display: flex;
	align-items: center;
}

.retangular-bloco {
  height: 11px;
  width: 69px;
  background-color: #ff0336;
}

.volunteer_section h1 {
	font-weight: bold;
	margin: 0 13px 0 0;
}

.colaboradores .person {
	padding: 12px;
}

.colaboradores .person .content {
  height: 112px;
  display: flex;
	align-items: center;
  background-color: #fff;
  border: solid 1px #f0f0f0;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.colaboradores .person img {
	margin: 21px;
	height: 70px;
	width: 70px;
  border-radius: 50%;
}

.colaboradores .person h5 {
	font-size: 16px;
	font-weight: bolder;
	margin: 0 0	9px 0;
}

.colaboradores .person p {
	margin: 0;
}
