.navbar {
  height: 100px;
}

.logo-wrapper {
  background-color: black;
}

.logo-mobile {
  padding-top: 10px;
  margin-left: 30%;
}

nav .nav-wrapper {
  height: 100px;
  background-color: #000000;
}

nav .logo-desktop {
  padding-left: 36px;
  padding-top: 25px;
}

nav .links {
  padding-right: 34px;
  margin-top: 18px;
}

nav .links > ul {
  display: flex;
  justify-content: space-between;
}

.links ul > li > a {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #c3c3c3;
  display: inline;
  padding-right: 36px;
}

.links ul > li > a:hover {
  width: 161px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #20a14f;
}

.links li > .denunciar,
.links li > .denunciar:hover {
  width: 132px;
  height: 35px;
  border-radius: 3px;
  background-color: #ff0336;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 8px 22px;
}

@media(max-width: 768px) {
  nav .nav-wrapper {
    height: 70px;
  }

  .navbar-fixed {
    height: 70px;
    background-color: black;
  }
}
